name: Sync main branch to organization repo (private target)

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          git config --global user.name "neerajadhav"
          git config --global user.email "adhavneeraj9500@gmail.com"

      - name: Debug secret presence
        run: |
          if [ -z "${{ secrets.SYNC_TOKEN }}" ]; then
            echo "❌ SYNC_TOKEN missing in repo 1!"
            exit 1
          else
            echo "✅ SYNC_TOKEN loaded."
          fi
          
      - name: Add organization repo as remote
        run: |
          set -e
          git remote remove target || true
          git remote add target https://x-access-token:${{ secrets.SYNC_TOKEN }}@github.com/umbrella-in-sun-007/terraform-github-infra.git
          git remote -v


      - name: Test token access
        run: |
          set -e
          git ls-remote target || (echo "❌  Token cannot access repo2" && exit 1)

      - name: Push main
        run: |
          set -e
          git push target main --force
