name: Sync main branch to organization repo (private target)

on:
  push:
    branches:
      - main  # Trigger only when main branch is updated

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repo (repo1)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # fetch all history for push

      - name: Configure Git identity
        run: |
          git config --global user.name "neerajadhav"
          git config --global user.email "adhavneeraj9500@gmail.com"

      - name: Add organization repo (repo2) as remote
        run: |
          git remote add target https://x-access-token:${{ secrets.SYNC_TOKEN }}@github.com/umbrella-in-sun-007/terraform-github-infra.git


      - name: Push main branch to organization repo
        run: |
          git push target main --force
